.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.HomePage h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.HomePage p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.HomePage button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin: 5 px ;
  cursor: pointer;
}

.HomePage button:hover {
  background-color: #0056b3;
  padding: 0.75rem 3rem;
}

.TopBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background-color: #A54F1D;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  gap: 50px;
}

.Timer {
  font-weight: bold;
  /* margin: auto; */
  text-align: center;
}

.MainContent {
  flex: 1;
  /*background-color: #282c34;*/ 
  background-image: url("/public/GearBackground.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.BottomBar {
  height: 20%;
  background-color: #A54F1D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #D97330;
  color: black;
  text-align: center;
  margin: 0 10px;
}

.Watch {
  width: 100px; 
  height: 100px; 
  background-image: url('/public/PocketWatch.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: transparent;
  border: none;
}

.SavedItem {
  width: 50px;
  height: 50px;
}

.Stopwatch {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.SearchForm {
  flex: 1;
  margin: 0 10px;
  justify-content: center;
}

.SearchBar {
  width: 80%;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.SmallCircle {
  width: 40px;
  height: 40px;
}

.MediumCircle {
  width: 50px;
  height: 50px;
}

.LargeCircle {
  width: 60px;
  height: 60px;
}

.LastEntered {
  margin-top: 10px;
  text-align: center;
}

.CurrentFilter {
  color: rgb(6, 255, 164);
  margin-left: 10px;
  font-size: 1.2em;
}

.LastEntered {
  margin-top: 10px;
  text-align: center;
}

.GameOverScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.GameOverScreen h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.GameOverScreen p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.GameOverScreen button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.GameOverScreen button:hover {
  background-color: #0056b3;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
